.Loader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: gray;
  background-color: #ebf1f5;
}

.Loader-error {
  cursor: not-allowed;
}

.Loader-loading {
  cursor: wait;
}

.Loader-message {
  margin-top: 5px;
}
