body {
  padding-top: 50px;
}

.App .App-Loader-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .Pagination-page {
  width: 476px;
  margin: 10px auto;
}

@media (min-width: 768px) {
  .App .Pagination-page {
    width: 714px;
  }
}

@media (min-width: 992px) {
  .App .Pagination-page {
    width: 952px;
  }
}

@media (min-width: 1200px) {
  .App .Pagination-page {
    width: 1190px;
  }
}

.App .Pagination-controls {
  text-align: center;
  margin-bottom: 20px;
}
